.words-export-header {
  &__level-1 {
    display: grid;
    grid-template-columns: 5fr 7.5fr;
    div {
      border-right: solid 1px black;
      border-bottom: solid 1px black;
    }
  }
  &__level-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1.5fr 3fr 3fr;
    div {
      border-right: solid 1px black;
      border-bottom: solid 1px black;
    }
  }
}
