.card-settings {
  position: absolute;
  top: 200px;
  width: 600px;
  height: 400px;
  margin-left: -50px;
  background: black;
  border: solid 1px white;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 30px auto;

  font-size: 12px;

  &__header {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close-button {
    position: absolute;
    left: 20px;
    top: 10px;
  }

  &__options-header {
    display: grid;
    grid-template-columns: 100px 50px 50px 50px;
  }

  &__options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 1 / 1;
    align-items: flex-start;
  }

  &__card-preview-container {
    grid-row: 2 / 4;
    grid-column: 2 /2;
  }
}
