.words-export-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1.5fr 3fr 3fr;
  border: solid 1px;
  word-break: break-word;

  &__loading-indicator {
    grid-column: 3 / -1;
    border-right: none;
  }
}
