@import '../utils/variables.scss';

$animation-duration: 1s;
$animation-bg-width: 980px;

@mixin background-image-shine {
  background-image: linear-gradient(
    90deg,
    $light-color 0px,
    rgba(255, 255, 255, 0.15) 40px,
    rgba(255, 255, 255, 0.15) 40px,
    $light-color 80px
  );
}

@keyframes shine-line {
  0% {
    background-position: -200px;
  }

  100% {
    background-position: 780px;
  }
}

.progress-bar--rounded .progress-bar__filler {
  border-radius: 20px;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 175px;
  background: #e3f2fd;
  margin: auto;

  &--full-width {
    width: 100%;
  }

  &--height-small {
    height: 10px;
  }

  &--rounded {
    border-radius: 20px;
  }

  @include background-image-shine;
  animation: shine-line $animation-duration linear infinite;
  background-size: $animation-bg-width;
  &--transparent {
    animation: none;
    background-image: none;
    background: none;
    height: 100%;
    width: 100px;
  }
}

.progress-bar__filler {
  background: $medium-color;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  animation: shine-line $animation-duration linear infinite;
}

.progress-bar__button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}
