@import './variables.scss';

.full-row {
  grid-column: 1 / -1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mv-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.border {
  border: solid 1px;
}

.border-right {
  border-right: solid 1px;
}

.border-left {
  border-left: solid 1px;
}

.border-top {
  border-top: solid 1px;
}

.border-bottom {
  border-bottom: solid 1px;
}

.text-x-small {
  font-size: 10px;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.text-x-large {
  font-size: 32px;
}

.text-white {
  color: white;
}

.text-main-color {
  color: $main-color;
}

.text-medium-color {
  color: $medium-color;
}

.text-light-color {
  color: $light-color;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

.jc-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-one-line {
  width: 200px;
  overflow: scroll;
  white-space: nowrap;
}
