.words-export {
  color: black;
  background: white;
  margin-top: 20px;
  font-size: 10px;

  &__prompt {
    display: flex;
    border: solid 1px;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    font-size: 16px;

    .button {
      margin: 0;
    }
  }

  &__vocab-items {
    height: 400px;
    overflow: scroll;

    &__item {
      display: grid;
      grid-template-columns: 2fr 2fr 3fr 3fr 2fr;
      border: solid 1px;
      word-break: break-word;

      &__loading-indicator {
        grid-column: 2 / -1;
        border-right: none;
      }
    }
  }
}

.cell {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
